#base{
    background-color: rgb(14, 6, 102);
    width: 1000px;
    padding: 1rem;
    margin: 3% 20%; 
    height: 700px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
    color: white;

}

#img_tag{

    float: right;
    width: 60%;
    margin-top: 1rem;
    margin-right: 2rem;
}

