.para{
    margin-left: 3%;
    margin-right: 3%;
}

.cust{

    margin-left: 15%;
}

.list-container {
    background-color: #eabcf8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.907);
}


.list {
    list-style-type:circle;
    margin: 10;
    padding: 10;
   
}


.list li {
    position: relative;
    padding: 15px;
    margin-bottom: 10px;
    padding-left: 40rem;
    background-color: #f9b2dc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.719);
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #1c0215;
    line-height: 1.5;
    cursor: pointer;
}

.list li:hover{

    background-color: #920457;
}

.list li:before {
    position: absolute;
    top: 10px;
    left: 2px;
    content: "•";
    font-size: 20px;
    color: #920457;
}

#sec_head{
    background-color: orange;
    height:60px;
    padding: 10px;
}

.body-text{

    background-color: aqua;
}

.prim{
    background-color: #eabcf8;
}
