.vision--class{
    background-color: rgb(33, 12, 192);
    width: 70rem;
    height: 250px;
    margin-left: 12%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    color:white;
    border-radius: 2rem;
    padding: 2rem;
}

.Mission--class{
    background-color: rgb(33, 12, 192);
    width: 70rem;
    height: 250px;
    margin-left: 12%;
    margin-top: 3rem;
    color:white;
    border-radius: 2rem;
    padding: 2rem;
}

h1{
  background-color: orange;
}

.health1{
    display: flex;
    align-items: center;
    width: 80rem;
    height: 400px;
    
    margin-left:6rem;
}

.health1 img{
    margin-left: 5rem;
    margin-top: 3rem;
}

.health1 p{
    margin-left: 3rem;
    margin-right: 2rem;
}